<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NG中的作用域小结</title>
    <script src="../js/angular.min.js" type="text/javascript"></script>
    <script src="../js/ngScope.js" type="text/javascript"></script>
</head>
<body>

<div ng-controller="SomeController">
    {{ someBareValue }}
    <button ng-click="someAction()">Communicate to child</button>
    <div ng-controller="ChildController">
        {{ someBareValue }}
        <button ng-click="childAction()">Communicate to parent</button>
    </div>
</div>


</body>
</html>