body{
  front-famliy:'微软黑'
}
$RED:yellow;
$Blue:blue;
ul{
  background-color:$RED;
}
ul{
  li{
    a{
      background-color:$RED;
      &:hover {
        background-color:$Blue ;
      }

    }
  }
}