#right a {
    text-decoration: none!important;
    font-size: 12px;
    color:#fff;
    cursor: pointer;
}
#right{
    position:fixed;
    right:-270px;
    height:100%;
    z-index:11111;
}
/*导航栏部分*/
#right-nav{
    float:left;
    height:100%;
    width:40px;
    background:#756b5f;
    position:relative;
}
.right-icon{
    height: 22px;
    width: 28px;
    background: url("../images/icon-homepageRight.png") -30px -46px no-repeat;
    display:block;
    margin-bottom: 5px;
    margin-left: 6px;
}
#auth .right-icon{
    background-position:-78px -15px;
}

#auth:hover .right-icon{
    background-position:-78px -45px;
}
#group-inquiry:hover .right-icon{
    background-position:-30px -16px;
}
/*导航内容*/
#nav-content,.to-top{
    position: absolute;
    top: 40%;
    color: #fff;
    font-size: 12px;
    width: 40px;
    text-align: center;
}
/*返回顶部*/
.to-top{
    top: auto;
    bottom: 10px;
    height: 22px;
    width: 28px;
    cursor: pointer;
    background-position:-29px -97px;
}
#group-inquiry{
    padding-bottom:24px;
    margin-bottom:24px;
    border-bottom:1px solid #897d6f;
    display:inline-block;
    cursor: pointer;
    position: relative;
    width: 40px;
}
/*询团hover 浮窗*/
#group-inquiry #right-nav-hover{
    background: #edcea6;
    position: absolute;
    display: none;
    height: 80px;
    width: 100px;
    right: 40px;
    top: -12px;
    color: #756b5f;

}
#right-nav-hover ul span{
    background: url("../images/icon-homepageRight.png") -160px -94px no-repeat;
    display: inline-block;
    height: 25px;
    width: 21px;
    position: absolute;
    top: 28px;
    right: -10px;
}

#right-nav-hover li{
    height:40px;
    line-height:40px;
    position: relative;
    padding-left: 20px;
}
#right-nav-hover li:hover{
    text-decoration: underline;
}
#right-nav-hover .inquiry-pop i,
#right-nav-hover .inquiry-show-records i{
    margin-top: 9px;
    background: url("../images/icon-homepageRight.png") -128px -19px no-repeat;
    display: inline-block;
    height: 15px;
    width: 23px;
    position: absolute;
    top: 4px;
    left: 14px;
}
#right-nav-hover .inquiry-show-records i{
    background-position: -157px -19px;
}
/*导航内容hover*/
#nav-content span:hover,#nav-content a:hover{
    color:#fac17d;
}
#inquiry-records{
    float:right;
    width:270px;
    height:100%;
    background:#f8f4ef;
}

#records-top{
    width:270px;
    max-width:270px;
    height:38px;
    line-height:38px;
    font-size:16px;
    color:#6c5437;
    padding-left:20px;
    font-weight: bolder;
    border-bottom:2px solid #edcda6;
    position:relative;

}
/*关闭按钮*/
#records-top span{
    background-position:-137px -94px;
    position:absolute;
    right: 25px;
    top: 6px;
    cursor: pointer;
}
#records-top span:hover{
    background-position:-137px -118px;
}
.right-record{
    margin: 0 auto;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    width: 230px;
    border-bottom:1px solid #dedad5;
}
#records-list{
    margin-top:15px;
}
.right-name-time{
    margin-bottom:10px;
}
.right-name-time .right-time{
    padding-left: 27px;
    color:#999;
}
.record-content{
    color:#999;
    word-break: break-all;
}
.record-content-all{
    word-break: break-all;
}
.record-content-all span{
    display:block;
    word-break: break-all;
}
#records-list{
    overflow:auto;
    max-height:939px;
}
.right-more-less i{
    padding-left: 3px;
}
/*展开详情向下箭头*/
.fa-angle-double-down:before {
    content: "\f103";
}
/*展开详情向上箭头*/
.fa-angle-double-up:before {
    content: "\f102";
}
.right-record{
    font-size:12px;
}
/*展开详情背景色、下边框*/
.right-show-all{
    background:#e6ddd3;
    border-bottom: 1px solid #ccc5bc;
}
.right-record .right-title{
    width:70px;
}
.right-name-time>span{
    margin-bottom:0px;
    display:table-cell;
    vertical-align: bottom;
}
span.right-ellipsis {
    width: 158px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}
span.right-name{
    width:70px;
}
.right-show-all .record-content{
    color:#000;
}
.right-show-all div>span{
    display:table-cell;
    vertical-align: top;
}
.right-show-all>div{
    display:table;
    margin-bottom: 10px;
}
/*展开详情和收起*/
.right-record .right-more-less{
    color: #bb9465;
    cursor: pointer;
    padding-bottom: 5px;
    display: block;
    margin-bottom: 0;
    margin-left: 166px;
}
.right-record  .right-packUp{
    margin-left: 190px;
}
/*展开状态不显示摘要和展开详情按钮*/
.right-show-all .record-content,.right-show-all .right-show-more{
    display:none;
}
/*加载更多按钮*/
#add-more{
    width: 120px;
    height: 35px;
    background: #e6ddd3;
    border: 1px solid #dbd2c8;
    border-radius: 17px;
    color: #756b5f;
    text-align: center;
    line-height: 35px;
    margin:10px auto 7px auto;
    cursor: pointer;
}
#add-more:hover{
    background:#edcda6;
    border-color:#d2b48f;
}


